# Exploratory Data Analysis

### Chapters:
* [How to import our dataset](#How-to-import-our-dataset)
* [Dataframes and Series](#Dataframes-and-Series)
* [Summarize our dataset](#Summarize-our-dataset)
* [Slicing and subsetting our dataset](#Slicing-and-subsetting-our-dataset)

## How to import our dataset

Our data set is already prepared in a csv format.

In [1]:
# import what we need
import os
import numpy as np
import pandas as pd

In [2]:
BASE = os.path.dirname(os.path.dirname(os.path.abspath(__name__)))

In [3]:
DF_PARQUET = os.path.join(BASE, "data/cleaned/offers.parquet")

In [4]:
df = pd.read_parquet(DF_PARQUET, engine="pyarrow")

## Dataframes and Series

In [5]:
# Our dataset
df.head()

,job_id,published_on,description,slug,updated_on,company,link,role,tag
0,68396,2017-10-11 14:15:18,MEDWING is building an end-to-end staffing and...,ruby-on-rails-devop-engineer-mf-medwing,2017-10-11 13:31:20,MEDWING,http://berlinstartupjobs.com/engineering/ruby-...,Ruby on Rails DevOp Engineer (m/f),ruby-on-rails
1,68390,2017-10-11 13:43:16,We are looking for a highly motivated System A...,system-administrator-fm-modomoto-curated-shopp...,2017-10-11 13:20:52,Modomoto (Curated Shopping GmbH),http://berlinstartupjobs.com/engineering/syste...,System Administrator (f/m),system-administration
2,68376,2017-10-11 13:33:00,Join our amazing development team and help us ...,senior-frontend-engineer-idagio,2017-10-11 12:58:05,IDAGIO,http://berlinstartupjobs.com/engineering/senio...,Senior Frontend Engineer,html5
3,68392,2017-10-11 13:25:40,Panono develops trend-setting digital cameras ...,senior-backend-engineer-panono,2017-10-11 13:25:40,Panono,http://berlinstartupjobs.com/engineering/senio...,SENIOR BACKEND ENGINEER,scala
4,68354,2017-10-11 13:02:53,Get the unique opportunity to leave your mark ...,lead-frontend-engineer-loopline-systems,2017-10-11 12:53:38,Loopline Systems,http://berlinstartupjobs.com/engineering/lead-...,Lead Frontend Engineer,html5

A DataFrame is a 2-dimensional data structure that can store data of different types (including characters, integers, floating point values, factors and more) in columns. 

It is similar to a spreadsheet or an SQL table or the data.frame in R.

A DataFrame always has an index (0-based).

An index refers to the position of an element in the data structure.

With `head()` with can show the first x rows of our dataframe, by default 5.

**Do you see the indexes and columns?**

Letâ€™s look at series' types.

In [6]:
type(df), type(df['company'])

(pandas.core.frame.DataFrame, pandas.core.series.Series)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3738 entries, 0 to 3737
Data columns (total 9 columns):
job_id          3738 non-null int64
published_on    3738 non-null datetime64[ns]
description     3738 non-null object
slug            3738 non-null object
updated_on      3738 non-null datetime64[ns]
company         3738 non-null object
link            3738 non-null object
role            3738 non-null object
tag             3714 non-null object
dtypes: datetime64[ns](2), int64(1), object(6)
memory usage: 292.0+ KB

With `info()` we get useful information about our dataset, like size, number of rows, number of columns and types.

**For example we see that dates have the wrong type (object instead of datatime). We have to resolve this later.**

In [8]:
df['job_id'].dtype

dtype('int64')

In [9]:
df.dtypes

job_id                   int64
published_on    datetime64[ns]
description             object
slug                    object
updated_on      datetime64[ns]
company                 object
link                    object
role                    object
tag                     object
dtype: object

**Series are based on numpy arrays:**

In [10]:
type(df['company'].values)

numpy.ndarray

## Summarize our dataset

In [12]:
df.describe()

              job_id
count    3738.000000
mean   117946.410647
std     40230.427947
min     34310.000000
25%     73265.250000
50%    141060.000000
75%    154276.000000
max    161078.000000

## Slicing and subsetting our dataset

### Let's start cleaning.

Let's check if we have have columns with non-unique values

In [13]:
df['company'].head()

0                             MEDWING
1    Modomoto (Curated Shopping GmbH)
2                              IDAGIO
3                              Panono
4                    Loopline Systems
Name: company, dtype: object

In [14]:
df[df['job_id'] == 68396]

,job_id,published_on,description,slug,updated_on,company,link,role,tag
0,68396,2017-10-11 14:15:18,MEDWING is building an end-to-end staffing and...,ruby-on-rails-devop-engineer-mf-medwing,2017-10-11 13:31:20,MEDWING,http://berlinstartupjobs.com/engineering/ruby-...,Ruby on Rails DevOp Engineer (m/f),ruby-on-rails
833,68396,2017-10-11 14:15:18,MEDWING is building an end-to-end staffing and...,ruby-on-rails-devop-engineer-mf-medwing,2017-10-11 13:31:20,MEDWING,http://berlinstartupjobs.com/engineering/ruby-...,Ruby on Rails DevOp Engineer (m/f),git
1631,68396,2017-10-11 14:15:18,MEDWING is building an end-to-end staffing and...,ruby-on-rails-devop-engineer-mf-medwing,2017-10-11 13:31:20,MEDWING,http://berlinstartupjobs.com/engineering/ruby-...,Ruby on Rails DevOp Engineer (m/f),cloudformation
2384,68396,2017-10-11 14:15:18,MEDWING is building an end-to-end staffing and...,ruby-on-rails-devop-engineer-mf-medwing,2017-10-11 13:31:20,MEDWING,http://berlinstartupjobs.com/engineering/ruby-...,Ruby on Rails DevOp Engineer (m/f),ec2
3015,68396,2017-10-11 14:15:18,MEDWING is building an end-to-end staffing and...,ruby-on-rails-devop-engineer-mf-medwing,2017-10-11 13:31:20,MEDWING,http://berlinstartupjobs.com/engineering/ruby-...,Ruby on Rails DevOp Engineer (m/f),automated-testing
3501,68396,2017-10-11 14:15:18,MEDWING is building an end-to-end staffing and...,ruby-on-rails-devop-engineer-mf-medwing,2017-10-11 13:31:20,MEDWING,http://berlinstartupjobs.com/engineering/ruby-...,Ruby on Rails DevOp Engineer (m/f),devop
3581,68396,2017-10-11 14:15:18,MEDWING is building an end-to-end staffing and...,ruby-on-rails-devop-engineer-mf-medwing,2017-10-11 13:31:20,MEDWING,http://berlinstartupjobs.com/engineering/ruby-...,Ruby on Rails DevOp Engineer (m/f),aws-infrastructure
3620,68396,2017-10-11 14:15:18,MEDWING is building an end-to-end staffing and...,ruby-on-rails-devop-engineer-mf-medwing,2017-10-11 13:31:20,MEDWING,http://berlinstartupjobs.com/engineering/ruby-...,Ruby on Rails DevOp Engineer (m/f),route-53
3654,68396,2017-10-11 14:15:18,MEDWING is building an end-to-end staffing and...,ruby-on-rails-devop-engineer-mf-medwing,2017-10-11 13:31:20,MEDWING,http://berlinstartupjobs.com/engineering/ruby-...,Ruby on Rails DevOp Engineer (m/f),elasticache
3675,68396,2017-10-11 14:15:18,MEDWING is building an end-to-end staffing and...,ruby-on-rails-devop-engineer-mf-medwing,2017-10-11 13:31:20,MEDWING,http://berlinstartupjobs.com/engineering/ruby-...,Ruby on Rails DevOp Engineer (m/f),rds

<div class="alert alert-success">
    <b>Exercise:</b> can you find offers with tag `python`?
</div>

This is how we can `select` a specific column:

In [15]:
df[["link"]].head()

                                                link
0  http://berlinstartupjobs.com/engineering/ruby-...
1  http://berlinstartupjobs.com/engineering/syste...
2  http://berlinstartupjobs.com/engineering/senio...
3  http://berlinstartupjobs.com/engineering/senio...
4  http://berlinstartupjobs.com/engineering/lead-...

<div class="alert alert-warning">
    <b>I use `head()` just to limit the output of the command (5 rows).</b>
</div>

<div class="alert alert-success">
    <b>Exercise:</b> What is the difference between `df[["link"]].head()` and `df["link"].head()`?
</div>

Selecting more than one columns follows the same command pattern:

In [16]:
df[["company", "link"]].head()

,company,link
0,MEDWING,http://berlinstartupjobs.com/engineering/ruby-...
1,Modomoto (Curated Shopping GmbH),http://berlinstartupjobs.com/engineering/syste...
2,IDAGIO,http://berlinstartupjobs.com/engineering/senio...
3,Panono,http://berlinstartupjobs.com/engineering/senio...
4,Loopline Systems,http://berlinstartupjobs.com/engineering/lead-...

In [17]:
type(df[["link"]].head()), type(df["link"].head())

(pandas.core.frame.DataFrame, pandas.core.series.Series)

<div class="alert alert-success">
    <b>Exercise:</b> Try to play with the command and select different columns
</div>

With this syntax you can select a subset of you dataframe, you can think about the `where` condition in SQL.

In [18]:
df[(df["company"] == "MEDWING")]

,job_id,published_on,description,slug,updated_on,company,link,role,tag
0,68396,2017-10-11 14:15:18,MEDWING is building an end-to-end staffing and...,ruby-on-rails-devop-engineer-mf-medwing,2017-10-11 13:31:20,MEDWING,http://berlinstartupjobs.com/engineering/ruby-...,Ruby on Rails DevOp Engineer (m/f),ruby-on-rails
105,68670,2017-10-12 12:02:39,MEDWING is building an end-to-end staffing and...,go-backend-engineer-mf-medwing,2017-10-12 09:32:22,MEDWING,http://berlinstartupjobs.com/engineering/go-ba...,Go Backend Engineer (m/f),python
833,68396,2017-10-11 14:15:18,MEDWING is building an end-to-end staffing and...,ruby-on-rails-devop-engineer-mf-medwing,2017-10-11 13:31:20,MEDWING,http://berlinstartupjobs.com/engineering/ruby-...,Ruby on Rails DevOp Engineer (m/f),git
925,68670,2017-10-12 12:02:39,MEDWING is building an end-to-end staffing and...,go-backend-engineer-mf-medwing,2017-10-12 09:32:22,MEDWING,http://berlinstartupjobs.com/engineering/go-ba...,Go Backend Engineer (m/f),git
1631,68396,2017-10-11 14:15:18,MEDWING is building an end-to-end staffing and...,ruby-on-rails-devop-engineer-mf-medwing,2017-10-11 13:31:20,MEDWING,http://berlinstartupjobs.com/engineering/ruby-...,Ruby on Rails DevOp Engineer (m/f),cloudformation
1717,68670,2017-10-12 12:02:39,MEDWING is building an end-to-end staffing and...,go-backend-engineer-mf-medwing,2017-10-12 09:32:22,MEDWING,http://berlinstartupjobs.com/engineering/go-ba...,Go Backend Engineer (m/f),backend
2384,68396,2017-10-11 14:15:18,MEDWING is building an end-to-end staffing and...,ruby-on-rails-devop-engineer-mf-medwing,2017-10-11 13:31:20,MEDWING,http://berlinstartupjobs.com/engineering/ruby-...,Ruby on Rails DevOp Engineer (m/f),ec2
2457,68670,2017-10-12 12:02:39,MEDWING is building an end-to-end staffing and...,go-backend-engineer-mf-medwing,2017-10-12 09:32:22,MEDWING,http://berlinstartupjobs.com/engineering/go-ba...,Go Backend Engineer (m/f),machine-learning
3015,68396,2017-10-11 14:15:18,MEDWING is building an end-to-end staffing and...,ruby-on-rails-devop-engineer-mf-medwing,2017-10-11 13:31:20,MEDWING,http://berlinstartupjobs.com/engineering/ruby-...,Ruby on Rails DevOp Engineer (m/f),automated-testing
3068,68670,2017-10-12 12:02:39,MEDWING is building an end-to-end staffing and...,go-backend-engineer-mf-medwing,2017-10-12 09:32:22,MEDWING,http://berlinstartupjobs.com/engineering/go-ba...,Go Backend Engineer (m/f),go
3501,68396,2017-10-11 14:15:18,MEDWING is building an end-to-end staffing and...,ruby-on-rails-devop-engineer-mf-medwing,2017-10-11 13:31:20,MEDWING,http://berlinstartupjobs.com/engineering/ruby-...,Ruby on Rails DevOp Engineer (m/f),devop
3525,68670,2017-10-12 12:02:39,MEDWING is building an end-to-end staffing and...,go-backend-engineer-mf-medwing,2017-10-12 09:32:22,MEDWING,http://berlinstartupjobs.com/engineering/go-ba...,Go Backend Engineer (m/f),senior
3581,68396,2017-10-11 14:15:18,MEDWING is building an end-to-end staffing and...,ruby-on-rails-devop-engineer-mf-medwing,2017-10-11 13:31:20,MEDWING,http://berlinstartupjobs.com/engineering/ruby-...,Ruby on Rails DevOp Engineer (m/f),aws-infrastructure
3594,68670,2017-10-12 12:02:39,MEDWING is building an end-to-end staffing and...,go-backend-engineer-mf-medwing,2017-10-12 09:32:22,MEDWING,http://berlinstartupjobs.com/engineering/go-ba...,Go Backend Engineer (m/f),automated-testing
3620,68396,2017-10-11 14:15:18,MEDWING is building an end-to-end staffing and...,ruby-on-rails-devop-engineer-mf-medwing,2017-10-11 13:31:20,MEDWING,http://berlinstartupjobs.com/engineering/ruby-...,Ruby on Rails DevOp Engineer (m/f),route-53
3629,68670,2017-10-12 12:02:39,MEDWING is building an end-to-end staffing and...,go-backend-engineer-mf-medwing,2017-10-12 09:32:22,MEDWING,http://berlinstartupjobs.com/engineering/go-ba...,Go Backend Engineer (m/f),aws-lambda
3654,68396,2017-10-11 14:15:18,MEDWING is building an end-to-end staffing and...,ruby-on-rails-devop-engineer-mf-medwing,2017-10-11 13:31:20,MEDWING,http://berlinstartupjobs.com/engineering/ruby-...,Ruby on Rails DevOp Engineer (m/f),elasticache
3658,68670,2017-10-12 12:02:39,MEDWING is building an end-to-end staffing and...,go-backend-engineer-mf-medwing,2017-10-12 09:32:22,MEDWING,http://berlinstartupjobs.com/engineering/go-ba...,Go Backend Engineer (m/f),aws-devops
3675,68396,2017-10-11 14:15:18,MEDWING is building an end-to-end staffing and...,ruby-on-rails-devop-engineer-mf-medwing,2017-10-11 13:31:20,MEDWING,http://berlinstartupjobs.com/engineering/ruby-...,Ruby on Rails DevOp Engineer (m/f),rds

<div class="alert alert-success">
    <b>Exercise:</b> Can you select the rows of a different company?
</div>

In [19]:
# How many unique job offers we have?

In [20]:
df['job_id'].nunique()

833

### Using loc and iloc

We can also slice and subset ussing `loc`, label based indexing, and `iloc`, integer based indexing.

In [23]:
df.loc[:, ["slug", "role"]].head()

,slug,role
0,ruby-on-rails-devop-engineer-mf-medwing,Ruby on Rails DevOp Engineer (m/f)
1,system-administrator-fm-modomoto-curated-shopp...,System Administrator (f/m)
2,senior-frontend-engineer-idagio,Senior Frontend Engineer
3,senior-backend-engineer-panono,SENIOR BACKEND ENGINEER
4,lead-frontend-engineer-loopline-systems,Lead Frontend Engineer

In [25]:
df.iloc[0:20, 6:9]

,link,role,tag
0,http://berlinstartupjobs.com/engineering/ruby-...,Ruby on Rails DevOp Engineer (m/f),ruby-on-rails
1,http://berlinstartupjobs.com/engineering/syste...,System Administrator (f/m),system-administration
2,http://berlinstartupjobs.com/engineering/senio...,Senior Frontend Engineer,html5
3,http://berlinstartupjobs.com/engineering/senio...,SENIOR BACKEND ENGINEER,scala
4,http://berlinstartupjobs.com/engineering/lead-...,Lead Frontend Engineer,html5
5,http://berlinstartupjobs.com/engineering/senio...,Senior Android Developer,android
6,http://berlinstartupjobs.com/engineering/fulls...,"Fullstack Developer (Node.js, AWS)/ (f/m) &#8...",mysql
7,http://berlinstartupjobs.com/engineering/backe...,"Backend Developer (Node.js, Python)/ (m/f) &#8...",python
8,http://berlinstartupjobs.com/engineering/senio...,"Python Engineer, Marketing Technology",None
9,http://berlinstartupjobs.com/engineering/front...,"Frontend Developer (JavaScript, React/Redux/An...",javascript
10,http://berlinstartupjobs.com/engineering/devop...,DevOps Engineer (m/f),python
11,http://berlinstartupjobs.com/engineering/senio...,(Senior) Data Expert (m/f),python
12,http://berlinstartupjobs.com/engineering/worki...,WORKING STUDENT ANDROID APP DEVELOPER (m/f),mobile
13,http://berlinstartupjobs.com/engineering/senio...,Senior Software Developer in Test (iOS),java
14,http://berlinstartupjobs.com/engineering/andro...,Android Developer,mobile
15,http://berlinstartupjobs.com/engineering/wooco...,Woocommerce Developer,developer
16,http://berlinstartupjobs.com/engineering/asp-n...,ASP.net Development,jquery
17,http://berlinstartupjobs.com/engineering/data-...,Data Scientist (m/f),matlab
18,http://berlinstartupjobs.com/engineering/devop...,DevOps Engineer (Server/Backend),mysql
19,http://berlinstartupjobs.com/engineering/backe...,Backend Software Engineer,sql

### What is the axis?

![alt text](../images/python-operations-across-axes.png "Axes Pandas")

In [26]:
df[df['tag'].isnull()].head()

,job_id,published_on,description,slug,updated_on,company,link,role,tag
8,46098,2017-10-11 08:00:36,We are looking for a motivatedÂ Senior Python B...,senior-python-engineer-marketing-technology-ge...,2017-10-11 05:39:32,GetYourGuide,http://berlinstartupjobs.com/engineering/senio...,"Python Engineer, Marketing Technology",None
28,54854,2017-10-09 11:42:29,Du mÃ¶chtest Teil eines renommierten Schweizer ...,senior-software-engineer-100-mw-gemdat-informa...,2017-10-09 11:42:29,GemDat Informatik AG,http://berlinstartupjobs.com/engineering/senio...,Senior Software Engineer 100% (m/w),None
32,54175,2017-10-06 14:04:54,MONOQI is the online destination for hand-pick...,devops-engineer-mf-monoqi,2017-10-06 14:02:09,MONOQI,http://berlinstartupjobs.com/engineering/devop...,DevOps Engineer (m/f),None
36,66655,2017-10-06 08:28:30,Technical Account Manager (m/f) for zeotap\n\n...,technical-account-manager-mf-for-zeotap-zeotap,2017-10-06 08:28:30,zeotap,http://berlinstartupjobs.com/engineering/techn...,Technical Account Manager (m/f),None
61,53974,2017-09-29 13:10:58,Wayfair is looking for an analytical and enthu...,jr-manager-seo-uk-onpage-mf-wayfair,2017-09-29 13:07:30,Wayfair,http://berlinstartupjobs.com/engineering/jr-ma...,Jr. Manager SEO UK (Onpage) (m/f),None

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3738 entries, 0 to 3737
Data columns (total 9 columns):
job_id          3738 non-null int64
published_on    3738 non-null datetime64[ns]
description     3738 non-null object
slug            3738 non-null object
updated_on      3738 non-null datetime64[ns]
company         3738 non-null object
link            3738 non-null object
role            3738 non-null object
tag             3714 non-null object
dtypes: datetime64[ns](2), int64(1), object(6)
memory usage: 292.0+ KB

Pandas comes with a very useful collection of functions, they are very **fast**.

In [28]:
df[df['tag'].str.contains("python", case=False, na=False)].head()

,job_id,published_on,description,slug,updated_on,company,link,role,tag
7,68273,2017-10-11 08:15:07,VAI â€“ the cashflow revolution\nVAI helps SMEs ...,backend-developer-node-js-python-mf-fintech-st...,2017-10-11 05:30:33,VAI,http://berlinstartupjobs.com/engineering/backe...,"Backend Developer (Node.js, Python)/ (m/f) &#8...",python
10,68270,2017-10-11 07:45:22,"Founded in 1997 and headquartered in Berlin, S...",devops-engineer-mf-snom-technology-gmbh,2017-10-11 05:28:25,Snom Technology GmbH,http://berlinstartupjobs.com/engineering/devop...,DevOps Engineer (m/f),python
11,68074,2017-10-11 07:31:21,â€œThe most successful companies are customer ce...,senior-data-expert-mf-etventure-corporate-inno...,2017-10-11 05:27:04,etventure Corporate Innovation GmbH,http://berlinstartupjobs.com/engineering/senio...,(Senior) Data Expert (m/f),python
62,65408,2017-09-29 13:02:49,CrossEngage is a cloud-based marketing platfor...,data-scientist-crossengage,2017-09-29 12:57:56,CrossEngage,http://berlinstartupjobs.com/engineering/data-...,Data Scientist,python
75,64714,2017-09-28 09:23:12,One of the best things about working at ChartM...,lead-engineer-softwareentwickler-software-deve...,2017-09-28 08:41:02,ChartMogul,http://berlinstartupjobs.com/engineering/lead-...,Lead Engineer / Softwareentwickler / Software ...,python

In [34]:
df[df['tag'].str.contains("python", case=False, na=False)]['tag'].unique()

array(['python', 'pythonc', 'python-3.x'], dtype=object)

<div class="alert alert-success">
    <b>Exercise:</b> Check the company GetYourGuide, what's the problem?
</div>